body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 90vh;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1a1a1a;
    color: #fff;
  }

  #quiz-container {
    max-width: 600px;
    width: 100%;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
  }

  .question {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .option {
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .option:hover{
      background: none;
  }
  .option:focus{
      outline: none;
  }

  .option.correct {
    background-color: #4caf50;
    color: #fff;
  }

  .option.incorrect {
    background-color: #ff4c4c;
    color: #fff;
  }

 
  #questionNumber{
    text-align: center;
    color: greenyellow;
  }
  #score {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    display: none;
    color: greenyellow;
  }

  #failed-questions {
    margin-top: 20px;
    font-size: 16px;
    color: #ff4c4c;
    display: none;
  }

  #pass-message {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    display: none;
    color: #4caf50;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }